table,tr,td{
    border-collapse: collapse;
}

td{
    text-align: center;
    width: 50px;
}

.marroClar{
    background-color: cornsilk;
}

.marroFosc{
    background-color: burlywood;
}

#taulells{
    display: flex;
    justify-content: space-between;
}

#joc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

img:not([src]){
    opacity : 0;
}